#tabla {
    border-spacing: 20px;
    border-collapse: collapse;
    font-size: 30px;
}

td{
    padding: 50px;
}

#border {
    border-bottom: 1px solid black;
}

#central {

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

#centralbot{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
